body {
    padding: 50px 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.order {
    padding: 10px;
}

.feed {
    background-color: #eeeeee;
    height:100vh;
    width: 200px;
    float: right;
}