<form class="form-horizontal" role="form" ng-submit="post()">
    <h2>New Meeting</h2>

    <div class="form-group">
        <label for="notes" class="col-sm-2 control-label">Notes</label>

        <div class="col-sm-8">
            <textarea class="form-control" id="notes" placeholder="Minutes of the Meeting" rows=6 ng-model="notes"
                      required/>
        </div>
    </div>
    <div class="form-group">
        <label for="date" class="col-sm-2 control-label">Date</label>

        <div class="col-sm-8">
            <input class="form-control" id="date" placeholder="Minutes of the Meeting" required type="date"
                   ng-model="date"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">New Orders
        </label>

        <div class="clearfix">
            <div data-ng-click="addListItem('order');" class="btn btn-default ">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Add Order
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8">
            <div data-ng-repeat="order in orders track by $index ">
                <div class="col-sm-6 order panel panel-default">
                    <input data-ng-model="order.product_name" placeholder="Product Name" required
                           class="name form-control"/>
                    <input data-ng-model="order.quantity" placeholder="Quantity" required
                           class="number form-control"/>

                    <div data-ng-click="removeListItem('order', $index);"
                         class="glyphicon glyphicon-remove pull-right btn btn-danger"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Payments
        </label>

        <div class="clearfix">
            <div data-ng-click="addListItem('payment');" class="btn btn-default ">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Add Payment
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8">
            <div data-ng-repeat="payment in payments track by $index ">
                <div class="col-sm-6 order panel panel-default">
                    <input data-ng-model="payment.type" placeholder="Payment Type"
                           class="name form-control"/>
                    <input data-ng-model="payment.amount" placeholder="Amount" class="number form-control"/>

                    <div data-ng-click="removeListItem('payment', $index);"
                         class="glyphicon glyphicon-remove pull-right btn btn-danger"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>
