<button class="btn btn-default" ng-click="createPage()"> Create New Meeting</button>
<button class="btn btn-default" ng-click="orderUpdatePage()">Order Updates</button>
<div ng-repeat="meeting  in meetings" class="meeting">
    <h4>
        {{$index + 1}}. {{meeting.notes}}
    </h4>

    <div class=" col-sm-6">
        <h5>Orders</h5>
        <hr>
        <div ng-repeat="order  in meeting.new_orders">
            {{order.product_name}}
            {{order.quantity}}
        </div>
    </div>
    <div class="col-sm-6">
        <h5>Payments</h5>
        <hr>
        <div ng-repeat="payment  in meeting.payments">
            {{payment.type}}
            {{payment.amount}}
        </div>
    </div>
    <div class="clearfix"></div>
</div>
