<h3>
    New Orders
</h3>
<div ng-repeat="order  in orders" class="">
    {{$index + 1}}.
    {{order.product_name}}
    {{order.quantity}}
    <button class="btn btn-success" ng-click="approveOrder(order._id)"> Approve</button>
    <button class="btn btn-danger" ng-click="rejectOrder(order._id)"> Reject</button>
</div>
